*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------- top nav style start here -----------*/
.nav-bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.nav-list{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}
.nav-items{
    list-style-type: none;
}
.nav-links{
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.125rem;
    transition: color .3s ease-in;
}
.fa, 
.cart-notification{
    color: var(--text-dark-1);
}
.active,
.nav-links:hover{
    color: var(--link-active);
    font-weight: 500;
}
/*--------- top nav style end here  ------------*/

/*---------------- banner style start here ------------ */
.banner-content{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 300px;
    margin-top: 120px;
    padding-top: 106px;
}
.banner-info{
    max-width: 500px;
}
.banner-title h1{
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--text-primary);
    margin-bottom: 13px;
}
.banner-title span{
    color: var(--text-dark-1);
}
.banner-img-box img{
    width: 100%;
    height: 355px;
    display: block;
    object-fit: cover;
}
/*---------------- banner style end here ------------ */

/* --------------- our plants style start here -------------- */
.title-description{
    max-width: 888px;
    margin: auto;
    margin-bottom: 50px;
}
.our-plants-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    width: 270px;
    height: 485px;
    text-align: center;
    font-family: var(--font-secondary);
}
.card img{
    width: 100%;
    height: 323px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-title{
    font-weight: 500;
    font-size: 1.125rem;
}
.card-price{
    margin: 10px 0px 15px;
}
/* --------------- our plants style end here --------------- */

/* --------------- flower lovers style start here --------------- */
.flower-lover-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}
.flower-lover-left{
    position: relative;
}
.flower-lover-left .trusted-badge{
    width: 286px;
    height: 286px;
    object-fit: cover;
    position: absolute;
    top: -130px;
    right: -120px;
}
.flower-lover-left img{
    width: 540px;
    height: 595px;
    object-fit: cover;
}
.flower-lover-right h1{
    color: var(--text-dark-1);
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.flower-description li{
    color: var(--text-secondary);
    margin: 20px 0px;
    font-size: 1.25rem;
}
/* --------------- flower lovers style end here --------------- */