*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------- top nav style start here -----------*/
.nav-bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.nav-list{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}
.nav-items{
    list-style-type: none;
}
.nav-links{
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.125rem;
    transition: color .3s ease-in;
}
.fa, 
.cart-notification{
    color: var(--text-dark-1);
}
.active,
.nav-links:hover{
    color: var(--link-active);
    font-weight: 500;
}
/*--------- top nav style end here  ------------*/

/*---------------- banner style start here ------------ */
.banner-content{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 300px;
    margin-top: 120px;
    padding-top: 106px;
}
.banner-info{
    max-width: 500px;
}
.banner-title h1{
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--text-primary);
    margin-bottom: 13px;
}
.banner-title span{
    color: var(--text-dark-1);
}
.banner-img-box img{
    width: 100%;
    height: 355px;
    display: block;
    object-fit: cover;
}
/*---------------- banner style end here ------------ */

/* --------------- our plants style start here -------------- */
.our-plants-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    width: 270px;
    height: 485px;
    text-align: center;
    font-family: var(--font-secondary);
}
.card img{
    width: 100%;
    height: 323px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-title{
    font-weight: 500;
    font-size: 1.125rem;
}
.card-price{
    margin: 10px 0px 15px;
}
/* --------------- our plants style end here --------------- */

/* --------------- flower lovers style start here --------------- */
.flower-lover-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}
.flower-lover-left{
    position: relative;
}
.flower-lover-left .trusted-badge{
    width: 286px;
    height: 286px;
    object-fit: cover;
    position: absolute;
    top: -130px;
    right: -120px;
}
.flower-lover-left img{
    width: 540px;
    height: 595px;
    object-fit: cover;
}
.flower-lover-right h1{
    color: var(--text-dark-1);
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.flower-description li{
    color: var(--text-secondary);
    margin: 20px 0px;
    font-size: 1.25rem;
}
/* --------------- flower lovers style end here --------------- */
/* --------------- latest deals style start here --------------- */
.discount-banner{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.discount-30{
    grid-row:  2;
}
.discount-25{
    grid-row: 1 / 3;

}
.discount-30 img,
.discount-60 img{
    width: 367px;
    height: 206px;
    object-fit: cover;
    border-radius: 22px;
    display: block;
}
.discount-25,
.discount-30,
.discount-60{
    position: relative;
}
.discount-30,
.discount-60{
    width: 367px;
    height: 206px;
    border-radius: 22px;
}
.discount-30::after,
.discount-60::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 367px;
    height: 206px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.4);
}
.discount-info-30,
.discount-info-60{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-15%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
}
.discount-info-30 h1,
.discount-info-60 h1{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.25rem;
}

.discount-info-30 a,
.discount-info-60 a{
    font-weight: 500;
    color: var(--text-light);
}
.discount-25 img{
    width: 753px;
    height: 440px;
    object-fit: cover;
    border-radius: 22px;
    display: block;
}

.discount-25::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 753px;
    height: 440px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.4);
}
.discount-info-25 {
    position: absolute; 
    top: 50%;
    left: 40%;
    transform: translate(-20% , -50%);
    color: #fff;
    text-align: center;
}
.discount-info-25 h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.discount-info-25 a{
    font-size: 1.75rem;
    color: var(--text-light);
}
/* --------------- latest deals style end here --------------- */
/* --------------- news letter style start here --------------- */
.news-letter{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.news-letter-content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-letter-title{
    font-size: 3.125rem;
    color: #fff;
    margin-bottom: 23px;
}

.email-field{
    width: 644px;
    height: 50px;
    border: none;
    outline: none;
    padding: 29px 8px;
    font-size: 1rem;
    background: var(--text-light);
    transition: outline .3s ease-in;
}
.email-field:focus{
    outline: 2px solid #E95A08;
}
.email-field:focus::placeholder{
    opacity: 0;
    transition: opacity .3s ease-in;
}
.news-btn{
    width: 186px;
    height: 58px;
    border: none;
    outline: none;
    background: #E95A08;
    /* padding: 29px 8px; */
    font-size: 1rem;
    color: var(--text-light);
    margin-left: -4px;
    cursor: pointer;
    transition: background .3s ease-in;
}
.news-btn:hover{
    background: #ec6d23;
}
/* --------------- news letter style end here --------------- */
